* {
    margin: 0;
    padding: 0;
} /*Sets the margin and padding of the page to none, so that it can be absolutely defined by the items alone*/

:root { 
    --dark: #382d2d;
    --light: #858585;
    --accent: #ff6449;
} /*This predefines the most used colours on all pages, so that they can be reused, this also allows me to change colours accross the site more easily*/

header{
    background-color: var(--dark); /*"var(--dark)" refers to the predefined colours just above*/ 
    position: fixed; /*This makes sure that the header stays motionless at the top of the page*/
    width: 100%;/*Makes sure that the header fills the entire p*/
} /*Defines header background colour*/

header nav {
    margin-left: 10px;
    border-top: 20px solid var(--dark);
    border-bottom: 20px solid var(--dark);
 /*Defines the margin and color around the navigation */
    overflow: auto;
} /*says that the navigation buttons will automatically move when the window is small*/

header .navigation li {
    height: 30px;
    float: left;
    margin-right: 0px;
    border-left: 2px solid #8585857c; /*Creates a seperation border between the navigation elements, different to the coloured border that makes up the header banner*/
    padding: 0 10px;
    font-size: 25px;
    list-style-type: none;
} /*Placement of header text and input of borders between text*/

header li:first-child{
    border-left: none;
} /*Removes border at the front end of the line*/

header .alt-nav{
    display: none;
} /*This stops icons from displaying because they are only for use with a smaller page*/

header .alt-nav li {
    height: 25px;
    float: left;
    margin-right: 5px;
    padding: 0 10px;
    font-size: 25px;
    list-style-type: none;
}/*Style the icons that dont appear until the page is thinner than 44rem*/

header a {
    text-decoration: none;
    color: var(--light);
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    transition: all 0.5s ease;
    letter-spacing: 1px;
}/*Style the navigation text*/

header a:hover{
    color: var(--accent);
    letter-spacing: 4px;
}/*Creates a hover effect over the navigation text*/


header .navigation li:last-child {
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
    height: 25px;
    float: right;
    padding: 0 20px;
    text-decoration: none;
    color: var(--light);
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    transition: all 0.5s ease;
    letter-spacing: 1px;
    border-left: none;
}/*Style and placement of the name text in the top right corner of the screen*/

header .alt-nav li:last-child {
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
    height: 25px;
    float: right;
    padding: 0 20px;
    text-decoration: none;
    color: var(--light);
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    transition: all 0.5s ease;
    letter-spacing: 1px;
    border-left: none;
    display: none; /*Sets the heading to not display so that it doesn't interfere when not needed*/
}/*Style and placement of m initials, which only appears during activation of the width media query*/

header h1:hover{
    color: var(--accent);
    letter-spacing: 4px;
}/*Creates a hover effect over the name text*/

header h2:hover{
    color: var(--accent);
    letter-spacing: 4px;
}/*Creates a hover effect over the initials text*/

body .all .main img {
    border-style:none;
    border-radius:100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
    margin-top: 100px;
    margin-bottom: 30px;
    height:240px;
    width:240px;
} /*Placement and styling of the image container to centre it and make the image have a rounded border*/

body .all .text {
    color: var(--light);
}/*Colours the main body text on the homepage*/

.all {
    text-align: center;
    font-family: 'Roboto', sans-serif;
} /*Placement and style of the main body of the web (image and paragraph)*/

footer {
    width:60px;
    position: fixed; /*Ensures that the footer is always in the same place at the bottom of the page*/
    right: 0;
    bottom: 10px;
}/*Place entire footer*/

footer a {
    text-decoration: none;
    color: var(--light);
    transition: all 0.5s ease;
}/*Style the icons*/

footer .icons li {
    height: 30px;
    float: right;
    padding: 0 10px;
    font-size: 30px;
    margin-bottom:10px;
    list-style-type: none;
}/*Position the icons within the footer*/

footer a:hover{
    color: var(--accent);
    letter-spacing: 5px;
}/*Add a hover effect to the footer icons*/

@media (max-width: 44rem) { /*Sets media query to activate when the window is thinner than 44rem*/
    header .navigation h1 {
        display: none;
    }/*Stops name in top right from displaying*/

    header .alt-nav h1 {
        display: block;
    }/*Displays my initials in place of my name*/

    header .navigation{
        display:none;
    }/*Removes the navigation text*/

    header .alt-nav {
        display: block;
    }/*Replaces the navigation text with icons*/

    header a:hover{
        color: var(--accent);
        letter-spacing: 0px;
        font-size: 27px;
    }/*Changes the hover effect over the navigation to be more fitting of the smaller size*/

}

@media (min-width: 52rem) {
    body .all .main img {
        height: 300px;
        width: 300px;
    }
}/*This and the next two media queries change the size of the home page image to better fit the screen*/

@media (min-width: 75rem) {
    body .all .main img {
        height: 360px;
        width: 360px;
    }
}

@media (min-width: 100rem) {
    body .all .main img {
        height: 400px;
        width: 400px;
    }
}

@media (min-width: 130rem) {
    body .all .main img {
        height: 480px;
        width: 480px;
    }
    body .all {
        font-size: 30px;
    }
    footer .icons li {
        font-size: 50px;
        height: 50px;
    }
}/*Increases font and image size of the homepage for larger displays*/


/*Portfolio specific styles*/

.container h1{
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 20px;
    height: 25px;
    text-decoration: none;
    color: var(--light);
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    transition: all 0.5s ease;
    letter-spacing: 1px;
    font-size: 25px;
} /*Style the header of the portfolio page*/

.container {
    width: 90rem;
    margin: 2rem auto;
    margin-top: 0;
    padding-top: 100px;
    overflow-y: visible;
}/*Sets the default size and margin of the containers in the grid*/

.portfolio {
    height: 75vh;
    overflow-y: scroll;
    margin-top: 20px;
    margin-bottom: 2px;
} /*Styles and sizes the portfolio container"*/

.gallery-item {
    max-width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    transition: all .3s;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}/*Style the contents of the containers*/

.gallery{
    display: grid; /*There is no need to address column or row dimensions here as they are included in the media queries that follow*/
    grid-gap: 1.5rem;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}/*Create the grid for the gallery items to exist in*/

.image {
    opacity: 1;
    display: block;
    width:100%;
    height:auto;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: cover;
    border-radius: 5px;
}/*Style the images in the gallery items*/

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}/*Style the text which appears over the gallery images when hovering*/

.gallery-item:hover .image {
    filter: grayscale(1);
} /*Changes the image to grey when hovering*/

.gallery-item:hover .middle {
    opacity: 1;
}/*Makes the text in the middle of the images visible when hovering*/

.gallery-item.hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.8);
}/*Changes the shadow of the gallery items when hovering*/

.text{
    color:white;
    font-size: 2.5em;
    padding: 16px 32px;
    font-family: 'Rubik', sans-serif;
} /*Styles the text which is in the middle of the gallery images during hover*/


/*Media Queries to change the layout of the grid dependent on the width of the page with high specificity*/
@media (min-width: 130rem){
    .gallery{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .container{
        max-width: 100rem;
    }
}

@media (max-width: 130rem){
    .gallery{
        grid-template-columns: 1fr 1fr;
    }
    .container{
        max-width: 70rem;
    }
}

@media (max-width: 75rem){
    .gallery{
        grid-template-columns: 1fr 1fr;
    }
    .container{
        max-width: 32rem;
    }
}

@media (max-width: 44rem) {
    h4{
        text-align: center;
        margin-left: 0;
    }
    .gallery{
        grid-template-columns: 1fr;
    }
    .container{
        max-width: 25rem;
    }
}

@media (max-width: 30rem) {
    h4{
        text-align: center;
        margin-left: 0;
    }
    .gallery{ 
        grid-template-columns: 1fr;
        margin-left: 0.2rem;
    }
    .container{
        max-width: 24rem;
    }
}

@media (max-width: 24rem){
    .gallery{
        grid-template-columns: 1fr;
    }
    .container{
        max-width: 20rem;
    }
}

@media (max-width: 20rem){
    .gallery{
        grid-template-columns: 1fr;
    }
    .container{
        max-width: 18rem;
    }
}

/*These 4 media queries change the size of the portfolio viewing window so that it is only 
necessary to have a full page scrollbar on extremely short pages*/
@media (max-height: 40rem){
    .portfolio {
        height: 70vh;
    }
}

@media (max-height: 32rem){
    .portfolio {
        height: 65vh;
    }
}

@media (max-height: 28rem){
    .portfolio{
        height: 60vh;
    }
}

@media (max-height: 28rem){
    body{
        overflow-y: scroll;
    }
    .portfolio{
        height: 100%;
    }/*Ensures that now a full page scroll bar is necessary, it is the only one available*/
}

/*CV specific style - This section is heavily based on the formatting found here: https://codepen.io/lizcoultersmith/pen/VwYwyKJ on 02/01/2020
the code however is original*/

.cv-all{
    font-family: 'Roberto', sans-serif;
    color: var(--light);
    font-size: 25px;
    padding: 2rem;
    padding-top: 100px;
    text-align: left; /*Up to this line styles the text on the cv page*/
    display:grid; /*This line until the end of the section organises the text on the page*/
    grid-template-columns: 20rem 1fr;
    column-gap: 2rem;
    margin-right: 2rem;
    max-height: 80vh; /*Makes sure that the content doesn't flow beyond the viewport*/
}

.cv-head {
    margin-bottom: 3rem;
} /*This ensures that when the page breaks down the main body doesn't get too close to the title*/

.cv-head ul {
    list-style-type: none;
}

.cv-head ul li:first-child {
    font-family: 'Rubik', sans-serif;
    font-size: 80px;
    letter-spacing: 1px;
    font-weight: 100;
    max-width: 25rem;
} /*This is text styling for the heading of the page specifically*/

.cv-text hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: var(--light);
    color: var(--light); /*Colours hr so that it is one solid line always*/
    height: 0.5px;
} /*This makes sure that text never gets too close to the seperation line (hr)*/

.cv-text h2{
    font-weight: 100;
    margin-top: 1rem;
} /*This styles the secondary heading on the cv page so that it is distinguishable from other heading types*/

.cv-text h3{
    margin-bottom: 1rem;
} /*This makes sure that the main body of text doesn't get too close to its heading*/

.cv-split { /*This splits the second part of the body into two columns*/
    margin-top: 2rem; /*This ensures that the second part doesn't get too close to the bottom of the main body*/
    display: grid; /*This creates a grid within the main body to put the two sections into*/
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;  
    font-size: 18px;
}

.cv-split ul {
    list-style-type: none;
    margin-bottom: 1rem;
}

.cv-split h3{
    font-size: 22px;
    margin-bottom: 0.2em;
}

@media (max-width: 52rem){
    .cv-all{
        display: block;
    } /*This media query makes it so that the text comes under the heading when the page gets too small*/
}

@media (max-width: 30rem){
    .cv-head h1{
        font-size: 60px;
    }
    .cv-all{
        font-size: 20px;
    }
    .cv-head{
        font-size:18px;
    }
    .cv-split{
        display: block;
    }
    .cv-split hr{
        margin-top: 2px;
        margin-bottom: 2px;
    }
} /*This media query reduces the size of all of the text on the page approximately proportionally so that it can fit more easily on smaller screens*/

@media (max-width: 20rem){
    .cv-all{
        margin-right: 1rem;
    }
}

/*Contact form specific styles*/

.form {
    max-width: 100%;
    padding: 2rem;
    padding-top: 100px;
    max-height: 80vh;
} /*This is the styling for the container in which the form sits */

.form h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 80px;
    letter-spacing: 1px;
    font-weight: 100;
    color: var(--light);
    padding-bottom: 2rem;
} /*This styles the header of the form page*/

.form form {
    max-width: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    color: var(--light);
    font-size: 22px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.3fr;
    gap: 1rem;
} /*This styles the form itself, and makes sure that no fields or buttons are too close together*/

.form .field {
    width: 100%;
    height: 100%;
} /*This is the sizing for an individual field*/

.form label {
    margin-left: 8px;
} /*This places the label of each field with respect to the field, so that it is not inline with the rounded edge*/

.form input {
    border-radius: 8px;
    border: 2px solid var(--dark);
    box-sizing: border-box;
    transition-duration: 0.5s;
    width: 100%;
    height: 2rem;
    font-family: 'Roboto', sans-serif;
    color: var(--light);
    font-size: 22px;
    padding: 3%;
} /*This styles each inout box to have a coloured border and changes the font inside the box when the user types*/

.form input:focus{
    border-color: var(--accent);
    outline: none;
} /*This changes the colour of the border of the box the user is currently typing in*/

.top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.5em;
    column-gap: 2rem;
} /*This changes the organisation of the first 4 fields to better fit onto the page*/

textarea {
    height: 80%;
    width: 100%;
    border: 2px solid var(--dark);
    box-sizing: border-box;
    color: var(--light);
    border-radius: 8px;
    transition-duration: 0.5s;
    padding: 1%;
    font-size: 18px;
    resize: none;
} /*This changes the size and style of the final field, the largest one*/

textarea:focus{
    border-color: var(--accent);
    outline: none;
} /*This creates the same "whilst typing" effect that the rest of the fields have, on the final field*/

button {
    max-width: 15%;
    max-height: 100%;
    background-color: var(--dark);
    color: var(--light);
    border-radius: 8px;
    border: none; 
    box-sizing: border-box;  
    transition-duration: 0.5s;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 100%;
}/*This styles the "SUBMIT" button at the bottom of the form, to change the colour, size, shape and the font it contains*/

button:focus, button:hover{
    background-color: var(--accent);
    color: var(--dark);
    outline: none;
} /*This creates a hover effect on the button, as well as a "focus" effect, which look the same when they occur*/
/*Focus, in this context, is when the button is selected by pressing tab*/

@media (max-width: 52rem){
    button{
        font-size: 18px;
        max-height: 50px;
        max-width: 100px;
    }/*This changes the size and shape of the button*/
    .top{
        grid-template-columns: 1fr;
    } /*This part changes the top 4 fields to be in a single line so they don't shrink too much being next to eachother*/
    form{
        margin-right: 2rem;
        grid-template-rows: 1fr 1fr 0.1fr;
        gap: 20px;
}
    .form h1 {
        font-size: 50px;
    }
}/*This media query changes all of the forms properties to fit on the smallest type of page*/

@media (max-width: 24rem){
    .form h1{
        font-size: 40px;
    }
}/*This changes just the size of the heading of the form page to make sure it stays on one line*/
